* {
    font-size: 0;
    padding: 0;
    margin: 0;
}
.Wrapper {
    background-color: #272822;
    display: flex;
    font-size: 0;
    height: 240px;
    margin: 10px auto;
    width: 320px;

    &__ArrowContent {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        width: 10%;
    }
    
    &__Arrow {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 80%;
        cursor: pointer;
        height: 100%;
        width: 100%;    
        &-next {
            @extend .Wrapper__Arrow;
            background-image: url("../img/next.png");
        }
        &-previus {
            @extend .Wrapper__Arrow;
            background-image: url("../img/previus.png");
        }
    }

    &__Conent {
        display: inline-block;
        background-color: #113e54;
        vertical-align: top;
        width: 90%;

        &-items {
            display: flex;
            height: 100%;
            overflow: hidden;
            width: 100%;
        }
        
        &-item {
            background-color: #2AA198;
            color: white;
            display: inline-block;
            text-align: center;
            font-size: 50px;
            flex-shrink: 0;
            height: 100%;
            line-height: 400px;
            vertical-align: top;
            width: 100%;
            &:nth-child(2n) {
                background-color: #268BD2;
            }
            &:nth-child(3n) {
                background-color: red;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }

    }

    &-buttons {
        @extend .Wrapper;
        background-color: white;
        cursor: pointer;
        height: 50px;
        &__play,
        &__stop {
            height: 32px;
            margin-left: 10px;
            width: 32px;
        }
        &__play {
            background-image: url("../img/play.png");
            background-size: 32px;
        }
        &__stop {
            background-image: url("../img/stop.png");
            background-size: 32px;
        }
    }
}