#=======================================================#
# Reglas para ignorar archivos                          #
#=======================================================#
/node_modules
/App/public/js/*.*
/App/public/css/*.*
.DS_Store