<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Probando libreria mordor</title>
</head>
<body>
    <section class="Wrapper">
        <div class="Wrapper__Arrow-previus" id="arrow_previus"></div>
        <div class="Wrapper__Swipe" id="swipe">
            <div class="Wrapper__Item">Slide => 1</div>
            <div class="Wrapper__Item">Slide => 2</div>
            <div class="Wrapper__Item">Slide => 3</div>
            <div class="Wrapper__Item">Slide => 4</div>
            <div class="Wrapper__Item">Slide => 5</div>
            <div class="Wrapper__Item">Slide => 6</div>
            <div class="Wrapper__Item">Slide => 7</div>
            <div class="Wrapper__Item">Slide => 8</div>
            <div class="Wrapper__Item">Slide => 9</div>
            <div class="Wrapper__Item">Slide => 10</div>
        </div>
        <div class="Wrapper__Arrow-next" id="arrow_next" ></div>
    </section>
    <link rel="stylesheet" href="./css/master.css">
    <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>