<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Probando libreria mordor</title>
</head>
<body>
    <!-- textarea class="Wrapper_text" id="demo" name="name" rows="8" cols="80"></textarea -->
    <!-- Begin :  Wrapper -->
    <section class="Wrapper">
        <!-- Begin :  Wrapper__ArrowContent -->
        <div class="Wrapper__ArrowContent">
            <div class="Wrapper__Arrow-previus" id="barrow_previus"></div>
        </div>
        <!-- End   :  Wrapper__ArrowContent -->

        <!-- Begin :  Wrapper__ConentItem -->
        <div class="Wrapper__Conent">
            <div class="Wrapper__Conent-items" id="bswipe">
                <div class="Wrapper__Conent-item">
                    <img src="./img/1.png" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/2.jpeg" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/3.jpeg" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/4.jpg" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/5.png" alt="">
                </div>
            </div>
        </div>
        <!-- End   :  Wrapper__ConentItem -->

        <!-- Begin :  Wrapper__ArrowContent -->
        <div class="Wrapper__ArrowContent">
            <div class="Wrapper__Arrow-next" id="barrow_next"></div>
        </div>
        <!-- End   :  Wrapper__ArrowContent -->

    </section>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolores adipisci maxime quam, nam aut blanditiis, neque ut ea id culpa pariatur harum. Quis minima quidem distinctio quisquam, provident dolor!</p>
    <p>Nostrum rerum architecto quam, dolores nulla assumenda ea quod corrupti eos harum rem in, maiores, quo ipsa. Vel quos ipsam dicta quis beatae quaerat explicabo, officia vero, quae similique placeat?</p>
    <p>Aliquam maxime odit tempore delectus, aspernatur voluptates labore ut reprehenderit minima at vitae, cupiditate harum, praesentium consequuntur non quam voluptas fugit nobis deleniti quos magni culpa? Iure, sed consectetur quis.</p>
    <p>Reprehenderit illum tenetur harum, alias voluptatibus minus, qui molestiae voluptas hic officia facere dolore necessitatibus unde deleniti mollitia inventore. Ex similique ab alias recusandae voluptate cupiditate tempora nobis, atque aperiam.</p>
    <p>Recusandae sit, porro dicta laborum iste culpa doloremque dolores maxime perspiciatis. A necessitatibus optio quibusdam explicabo tempora dignissimos mollitia modi laborum reprehenderit facere. Porro ipsum, ipsam eos, sit sequi quas!</p>
    <!-- Begin :  Wrapper -->
    <section class="Wrapper">
        <!-- Begin :  Wrapper__ArrowContent -->
        <div class="Wrapper__ArrowContent">
            <div class="Wrapper__Arrow-previus" id="carrow_previus"></div>
        </div>
        <!-- End   :  Wrapper__ArrowContent -->

        <!-- Begin :  Wrapper__ConentItem -->
        <div class="Wrapper__Conent">
            <div class="Wrapper__Conent-items" id="cswipe">
                <div class="Wrapper__Conent-item">
                    <img src="./img/1.png" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/2.jpeg" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/3.jpeg" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/4.jpg" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/5.png" alt="">
                </div>
            </div>
        </div>
        <!-- End   :  Wrapper__ConentItem -->

        <!-- Begin :  Wrapper__ArrowContent -->
        <div class="Wrapper__ArrowContent">
            <div class="Wrapper__Arrow-next" id="carrow_next"></div>
        </div>
        <!-- End   :  Wrapper__ArrowContent -->

    </section>

    <!-- Begin :  Wrapper -->
    <section class="Wrapper">
        <!-- Begin :  Wrapper__ArrowContent -->
        <div class="Wrapper__ArrowContent">
            <div class="Wrapper__Arrow-previus" id="darrow_previus"></div>
        </div>
        <!-- End   :  Wrapper__ArrowContent -->

        <!-- Begin :  Wrapper__ConentItem -->
        <div class="Wrapper__Conent">
            <div class="Wrapper__Conent-items" id="dswipe">
                <div class="Wrapper__Conent-item">
                    <img src="./img/1.png" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/2.jpeg" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/3.jpeg" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/4.jpg" alt="">
                </div>
                <div class="Wrapper__Conent-item">
                    <img src="./img/5.png" alt="">
                </div>
            </div>
        </div>
        <!-- End   :  Wrapper__ConentItem -->

        <!-- Begin :  Wrapper__ArrowContent -->
        <div class="Wrapper__ArrowContent">
            <div class="Wrapper__Arrow-next" id="darrow_next"></div>
        </div>
        <!-- End   :  Wrapper__ArrowContent -->

    </section>

    <link rel="stylesheet" href="./css/master.css">
    <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
